.searchInputContainer {
    display: flex;
    align-items: center;
}

input {
    padding: 0.5em 1em;
    /*border: none;*/
    border: 0.1em rgba(255, 255, 255, 0.2) solid;
    /*border-radius: 0.2em;*/
    font-size: 1em;
    /*background: rgba(255, 255, 255, 0.1);*/
    /*background: transparent;*/
    background: #fff;
    /*color: #fff;*/
    color: #000000;
}

input::placeholder {
    color: #000;
}

.searchInputContainer img {
    height: 1.7em;
    margin: 0 0.5em;
}