.weatherDetails {
    text-align: left;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.temperature {
    font-size: 2.5em;
    display: flex;
}

.cityContainer {
    background: #fff;
    display: flex;
    padding: 1em;
    font-weight: 500;
}

.itemsContainer, .temperatureContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    text-align: left;
}

.detailsContainer {
    font-size: 1.2em;
    padding: 1em;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
}

.weatherDetailsItem {
    display: flex;
    justify-content: space-between;
    padding: 0.2em;
}

@media screen and (max-width: 40em){
    .detailsContainer {
        flex-direction: column-reverse;
        gap: 2em;
    }

    .temperatureContainer, .itemsContainer {
        width: 100%;
    }
}