.item, .selectedItem {
    margin: 1em 5% 0;
    padding: 0 1em 1em;
    /*background: red;*/
    border-bottom: transparent 0.1em solid;
    /*width: 20%;*/
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    transition: 0.5s;
}

.item:hover, .selectedItem {
    /*color: #3c21b7;*/
    /*border-bottom: #3c21b7 0.1em solid;*/
    border-bottom: #fff 0.1em solid;
}