.aboutUs {
    background: white;
    text-align: left;
    height: 100%;
}

.title {
    background: #ffffff;
    color: #000000;
    font-weight: 500;
    padding: 1em;
}

.mainInfo {
    padding: 1em;
    color: #000000;
}

.contactUsText {
    text-align: center;
    font-weight: 500;
}