.monthlyWeather {
    display: flex;
    color: #ffffff;
    flex-direction: column;
    /*align-items: center;*/
}

.title {
    color: #000000;
    background: #ffffff;
    text-align: left;
    font-weight: 500;
    padding: 1em;
}

.selectMonthContainer {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
}

.selectArrowLeftContainer, .selectArrowRightContainer {
    display: flex;
    align-items: center;
}

.selectArrowLeftContainer img, .selectArrowRightContainer img {
    height: 2em;
}

.selectArrowLeftContainer img {
    padding-top: 0.1em;
}

.selectArrowRightContainer img {
    padding-bottom: 0.1em;
    transform: rotate(180deg);
}

.selectArrowLeftContainer:hover, .selectArrowRightContainer:hover {
    font-weight: 500;
}

.calendarContainer {
    width: 100%;
    /*background: red;*/
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
}

.monthContainer {
    font-weight: 500;
}

.selectYearContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1em 0;
}