.weatherForHour, .weatherForNewDayHour {
    display: flex;
    padding: 0 3em;
    justify-content: space-between;
    align-items: center;
}

.time, .wind {
    width: 6em;
}

.time {
    display: flex;
    flex-direction: column;
}

.temperature {
    font-weight: 500;
    font-size: 1.1em;
}

.description {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5em;
}

.humidity, .temperature {
    width: 3em;
}

.weatherForNewDayHour {
    background: #ffffff;
    color: #000000;
}

.currentHour {
    font-weight: 500;
    /*padding-right: 1em;*/
}

.notCurrentHour {
    display: none;
}

@media screen and (max-width: 40em) {
    .humidity {
        display: none;
    }

    .time, .wind {
        width: 3em;
    }

    .temperature {
        width: 2em;
    }

    .description {
        width: auto;
    }
}