.selectedCalendarDay {
    background: #fff;
    color: #000000;
    padding-bottom: 2em;
}

.title {
    padding: 1em;
    font-weight: 500;
    text-align: left;
}

.halfDaysContainer {
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
}