.home {
    margin: 1em;
    width: 50%;
    backdrop-filter: blur(0.5em);
    border: rgba(255, 255, 255, 0.1) 0.1em solid;
    background: rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 70em) {
    .home {
        min-width: 70%;
        margin: 0.5em;
    }
}

/*@media screen and (max-width: 600px) {*/
/*    .home {*/
/*        display: unset;*/
/*        width: 95%;*/
/*        padding: 0;*/
/*        margin: 0;*/
/*    }*/
/*}*/

@media screen and (max-width: 40em) {
    .home {
        display: inherit;
        width: 100vw;
        padding: 0;
        margin: 0;
        border: none;
        height: 100%;
        /*background: red;*/
        /*background-color: red;*/
        /*color: red;*/
    }
}