.weatherIcons {
    background: #ffffff;
}

.iconsContainer {
    display: flex;
    justify-content: space-evenly;
}

.iconsContainer img {
    height: 7em;
    filter: drop-shadow(0 0 2em rgba(0, 0, 0, 0.2));
    /*drop-shadow: 1em 0 0 #000;*/
}

.cityContainer {
    /*background: rgba(255, 255, 255, 0.3);*/
    display: flex;
    padding: 1em;
    font-weight: 500;
}

@media screen and (max-width: 40em) {
    .iconsContainer img {
        width: 6em;
        height: 6em;
    }

    .iconsContainer {
        padding-bottom: 1em;
    }
}