.weatherChart {
    padding: 0 1em 1em;
    /*color: white;*/
    background: #ffffff;
    /*background: linear-gradient(#ffcc0055, transparent);*/
}

@media screen and (max-width: 40em) {
    .weatherChart {
        padding: 0;
    }
}